<launch>

 
<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
  <arg name="world_file" value="$(find ping_pong_picker)/worlds/ping_pong_court"/>
</include>

<node 
 name="picker"
 pkg="ping_pong_picker"
 type="picker"
 launch-prefix="xterm -e"
 output="screen"
/>

<arg name="baging" default="0"/>
<arg name="duration" default="300"/>
<node
 name="picker_record"
 pkg="rosbag"
 type="record"
 args="-a -O walker.bag --duration=$(arg duration) -x '/camera/(.*)'"
 if="$(arg baging)"
/>
</launch>
